body{
  margin:0;
  font-family: Arial;
  background:#f1f1f1;
}


/* HEADER */
.header{
  background:#2b2b2b;
  color:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 20px;
}

.logo{
  font-weight:bold;
  font-size:20px;
}

.search{
  width:40%;
  padding:8px;
  border:none;
  border-radius:5px;
}

.hotline{
  background:#b00014;
  padding:8px 12px;
  border-radius:5px;
}

/* MENU */
.menu{
  background:white;
  padding:10px;
  text-align:center;
  border-bottom:1px solid #ddd;
}

.menu a{
  color:#333;
  margin:0 15px;
  text-decoration:none;
  font-weight:bold;
}

/* BANNER */
.banner{
  background:linear-gradient(45deg,#ff3c3c,#ff9800);
  color:white;
  padding:60px;
  text-align:center;
}

.banner h1{
  font-size:36px;
}

.banner button{
  background:#fff;
  color:#d70018;
  border:none;
  padding:10px 20px;
  border-radius:5px;
  cursor:pointer;
}

/* SALE */
.sale{
  background:#d70018;
  color:white;
  padding:20px;
  text-align:center;
}

.countdown{
  background:white;
  color:black;
  display:inline-block;
  padding:10px;
  border-radius:5px;
  margin-top:10px;
}

/* PRODUCTS */
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
  padding:20px;
}

.product{
  background:white;
  border-radius:10px;
  padding:10px;
  position:relative;
  transition:0.3s;
}

.product:hover{
  transform:translateY(-5px);
}

.product img{
  width:100%;
  height:180px;
  object-fit:cover;
}

/* TAG SALE */
.product::before{
  content:"-20%";
  position:absolute;
  top:10px;
  left:10px;
  background:#ff9800;
  color:white;
  padding:3px 8px;
  font-size:12px;
  border-radius:5px;
}

/* PRICE */
.price{
  color:#d70018;
  font-weight:bold;
  font-size:18px;
}

/* BUTTON */
.product button{
  background:#ff9800;
  border:none;
  color:white;
  padding:8px;
  width:100%;
  border-radius:5px;
  cursor:pointer;
}

/* FOOTER */
.footer{
  background:#222;
  color:white;
  text-align:center;
  padding:15px;
}

.slider img{
  width:100%;
  height:350px;
  object-fit:cover;
}
html{
  scroll-behavior:smooth;
}
// mobile
@media(max-width:768px){

/* HEADER */
.header{
  flex-direction:column;
  gap:10px;
}

.search{
  width:100%;
}

/* MENU */
.menu{
  display:flex;
  overflow-x:auto;
  white-space:nowrap;
}

.menu a{
  margin:0 10px;
  font-size:14px;
}

/* BANNER */
.banner{
  padding:30px 15px;
}

.banner h1{
  font-size:22px;
}

/* PRODUCTS */
.products{
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}

.product img{
  height:140px;
}

/* BUTTON */
.product button{
  font-size:13px;
  padding:6px;
}

}
